body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 1em;
  min-height: 80vh;
  /* Colours from AIGenerateDesignReferenceImage */
  background: #B1EDE1;
  background: linear-gradient(0deg, rgba(218,250,236,1) 0%, rgba(164,226,218,1) 100%); 
}