.container {
  max-width: 30em;
  margin: 0 auto;
}

.title {
  text-align: center;
}

.page {
  position: relative;
  animation: fadeInFromBelow 1s;
}

@keyframes fadeInFromBelow {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}